<div class="col-5 m-3">
  <h4 >{{ isEdit ? 'Edit meal' : 'Add new meal'}}</h4>
  <form (ngSubmit)="createMeal()" #f = "ngForm">
    <div class="form-group">
      <label for="mealTime">Meal time</label>
      <select class="form-control" id="mealTime" name="time" ngModel>
        <option>Breakfast</option>
        <option>Snack</option>
        <option>Lunch</option>
        <option>Dinner</option>
      </select>
      <div class="form-group">
        <label for="mealDescription">Meal description</label>
        <textarea class="form-control" id="mealDescription" name="dish" rows="3" ngModel></textarea>
      </div>
      <div class="form-group">
        <label for="Calorie">Calorie</label>
        <input type="number" class="form-control" id="Calorie" name="calorie" placeholder="Calorie" ngModel/>
      </div>
      <button type="submit" class="btn btn-primary"
              [disabled]="isUpLoading"
      > <span *ngIf="!isUpLoading">
        {{ isEdit ? 'Edit' : 'Add'}}
        </span>
        <span *ngIf="isUpLoading"
          class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading ... </span>
        </span>
      </button>
    </div>

  </form>


</div>
