<div class="col-5 m-3 d-flex grow border border-dark justify-content-between p-2 ">
  <div >
    <h4 class="text-success">{{ meal.time }}</h4><br>
    <p class="text-dark"> {{ meal.dish }}</p>
  </div>
  <p class="p-3"><strong >{{ meal.calorie  }}</strong>kcal</p>
  <div class="p-3">
    <a routerLink="{{meal.id}}/edit" class="btn btn-dark"
    >Edit</a>&nbsp;
    <button class="btn btn-danger"
            (click)="onRemove()"
            [disabled]="isRemoving"
    >
      <span *ngIf="!isRemoving">Delete</span>
      <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing ...</span>
      </span>
    </button>
  </div>

</div>
