
body{
  position: relative;
  min-height: 800px;
  height: 100%;
  background: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg') repeat 0 0 scroll;
  background-color:#0C0C0C;
  width:100%;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
