<div class="title d-flex">
  <h6 class="text-danger m-3">Total calories: {{ totalCalories }}</h6>
  <a  routerLink="add"
    class="btn btn-success shadow mt-3 ml-5">Add new meal</a>
</div>

<ng-container
              *ngIf="!loading; else loadingSpinner"
>
  <app-meal-details *ngFor="let meal of allMeals"
                    [meal]="meal"
  ></app-meal-details>
</ng-container>
<ng-template #loadingSpinner>
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

